img{
    width: auto;
    height: 98vh;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.inside-menu{
    background-color: transparent;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 25px;
    height: 83%;
    padding-left: 10%;
    padding-top: 15%;
}
p{
    margin: 0;
    padding: 10px 15px;
    font-size: 18px;
}

p:hover {
    background-color: #ffffff30;
    transition: background-color 0.2s ease-out, opacity 0.4s ease-out;
    border-radius: 10px;

}

a{
    text-decoration: none;
    color: #fff;
}
.reseaux{
    height: min-content;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chat-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .messages {
    max-height: 400px;
    overflow-y: scroll;
    margin-bottom: 20px;
    padding-right: 10px;
  }
  
  .message {
    margin: 10px 0;
  }
  
  .input-container input, .input-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .input-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .input-container button:hover {
    background-color: #0056b3;
  }
  

.img-reseaux{
    height: 26px;
    width: 26px;   
}
.wrapper-p{
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 60%;
    color: #fff;
}
.wrapper-iconrs{
    display: flex;
    flex-direction: row;
}
.container-menu{
    margin-left: 10px;
    height: 100vh;
    width: fit-content;
    position: absolute;

}
.wrapper-p .title-connect{
    padding-bottom: 0px;
}


.div1 {
    height: 160px; /* 175px * 0.85 */
    width: 535px;   /* 550px * 0.85 */
    position: relative;
}

.div2 {
    height: 127.5px;  /* 150px * 0.85 */
    width: 425px;     /* 500px * 0.85 */
    position: relative;
}

.div3 {
    height: 127.5px;  /* 150px * 0.85 */
    width: 425px;     /* 500px * 0.85 */
    position: relative;
}

.div4{
    height: auto;
    width: 400px;
    background-color: transparent;
    position:absolute;
    bottom: 0;
    right: 0;
}

.wrapperdivs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -30%);
    align-items: center;
}


.title{
    position: absolute;
    left: -190px;
    scale: 0.5;
    width: fit-content;
}

.titleEvent{
    position: absolute;
    left: -18px;
    scale: 0.6;
    width: fit-content;
}

.titleOrbital{
    position: absolute;
    scale: 0.55;
    width: fit-content;
    left: -110px;
    top: 5px;
}